.supergraphic {
  height: 12px;
  width: 100%;
  background-image: url(../../../Images/supergraphic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  max-height: 1.5vh;
}
