.user {
  height: 100%;
  padding: 0 4%;
  background-color: #dedede;
  overflow: auto;
  &-body {
    height: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.125rem;
    min-width: 850px;
    overflow: auto;
    .ant-tabs {
      overflow: unset;
    }
    &-title {
      font-weight: bold;
      font-size: 1.2rem;
    }
    &-profile {
    }
  }
}
