.food-order-drawer {
  width: 400px;
  &-created-at {
    display: flex;
  }

  &-total {
    display: flex;
    margin: 1rem 0;
  }
  &-notes {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-wrapper {
    padding: 1.5rem;
  }

  &-row {
    margin-top: 0.5rem;
  }
  .ant-drawer-content-wrapper {
    width: 400px;
    width: 400px;
  }
  .ant-drawer-header-title {
    flex-direction: row-reverse;
    .ant-drawer-close {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1528px) {
  .food-order-drawer {
    .ant-drawer-content-wrapper {
      width: 75% !important;
    }
  }
}
